.App {
  text-align: center;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

#home {
  width: 100%; /* Ensure full width */
  overflow-x: hidden; /* Prevent horizontal overflow */

  background: rgb(243,244,245);
  /* background: radial-gradient(circle, rgba(243,244,245,1) 0%, rgba(205,218,245,1) 18%, rgba(252,253,254,1) 35%, rgba(207,221,247,1) 51%, rgba(255,255,255,1) 62%, rgba(242,244,247,1) 71%, rgba(197,211,240,1) 80%, rgba(220,229,246,1) 88%, rgba(255,255,255,1) 100%); */
  animation: gradient 10s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
#sellbg {
  position: relative; /* Ensure the element is positioned */
}

#sellbg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/logo_realstate.png");
 
  background-repeat: repeat;
  background-size: 100px 100px; /* Adjust the size as needed */
  opacity: 0.3; /* Adjust the opacity */
  z-index: -1; 
  animation: moveBackground 10s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100px -100px; /* Adjust the values to control the speed and direction */
  }
}

#sellbg > * {
  position: relative;
  z-index: 1; /* Ensure the content is above the pseudo-element */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gradient{
  position: absolute;
  height: 20rem;
  width: 20rem;
  background: rgba(255,255,255,0.522);
  filter: blur(100px);
  border-radius: 100px;
}
.hero-wrapper{
  color: white;
  position: relative;
  padding-bottom: 2rem;
  z-index: 1;
}
.hero-container{
  justify-content: space-around;
  align-items: flex-end;
}

/* ---- Left Side -----*/

.hero-left{
  gap: 3rem;
}

.hero-title{
  position: relative;
  z-index: 1;
}

.orange-circle{
  height: 4rem;
  width: 4rem;
  background: var(--orange-gradient);
  border-radius: 100%;
  position: absolute;
  right: 28%;
  top: -10%;
  z-index: -1;
}

.hero-title>h1{
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}

.search-bar{
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgba(120,120,120,0.374);
  padding: 0.5rem 1rem;
  justify-content: space-between;
  width: 100%;
}

.search-bar>input{
  border: none;
  outline: none;
}

.stats{
  width: 100%;
  justify-content: space-between;
}
.stat>:nth-child(1){
  font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
  color: orange;
}

/* ---- Right Side -----*/

.image-container{
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255,255,255,0.12);
}

.image-container>img{
  width: 100%;
  height: 100%;
}
@media(max-width:640px)
{
  .hero-container{
      margin-top: 2rem;
  }
  .hero-title>h1{
      font-size: 2.5rem;
      line-height: 3rem;
  }
  .image-container{
      width: 95%;
      height: 25rem;
  }
  .stats{
      justify-content: center;
      gap: 1.5rem;
  }
  .hero-right{
      width: 100%;
  }
  .stat>:nth-child(1){
      font-size: 1.5rem;
  }
  .stat>:nth-child(2){
      font-size: 0.8rem;
  }
}